gradio
torch --index-url https://download.pytorch.org/whl/cu128
torchaudio --index-url https://download.pytorch.org/whl/cu128
torchvision --index-url https://download.pytorch.org/whl/cu128
transformers
accelerate
soundfile
ffmpeg-python
openai-whisper
edge-tts
deep-translator
python-dotenv
numpy>=2.1
scipy

