# Git
.git
.gitignore
.gitattributes

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
venv
.env

# Project specific
output
temp
models
cudnn_temp
custom_python_embed.zip
debug_crash.log
debug_download
