gradio==4.36.1
python-dotenv==1.0.1
numpy<2.0.0
scipy
pandas
librosa
soundfile
ffmpeg-python
opencv-python-headless
torchmetrics
transformers
accelerate
diffusers
safetensors
einops
tqdm
huggingface_hub
pydub
pyannote.audio
speechbrain
diart
demucs
TTS
edge-tts
piper-tts
torchdiffeq
openai-whisper
faster-whisper
bitsandbytes
sentencepiece
protobuf
voicefixer>=0.1.2
face-alignment
basicsr
kornia
gfpgan
paddlepaddle-gpu==2.6.1; sys_platform == "linux"
paddleocr
paddlex
psutil
aiohttp
rich
colorama
